<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="ShadowRunHelper-564fe49b-f507-4665-9f57-b4dc07c68d" Publisher="CN=Tobiv" Version="1.1.4.0" />
  <mp:PhoneIdentity PhoneProductId="564fe49b-f507-4665-9f57-b4dc07c68fd4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ShadowRun Helper</DisplayName>
    <PublisherDisplayName>Tobi van Helsinki</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ShadowRunHelper.App">
      <uap:VisualElements DisplayName="ShadowRunHelper V1.1" Square150x150Logo="Assets\Logo1_600x600.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Die beste App, um deine ShadowRun Charachter zu hegen und pflegen!" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo1_1240x600.png" Square310x310Logo="Assets\Logo1_1240x1240.png" Square71x71Logo="Assets\Logo1_284x284.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Logo1_2480x1200.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.SRHChar</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="shrchar">
            <uap:DisplayName>SRHChar</uap:DisplayName>
            <uap:Logo>Assets\Logo1_44x44.png</uap:Logo>
            <uap:InfoTip>Speichert einen ShadowRun Charachter</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.SRHChar</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>