<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotMorten.Xamarin.Forms.AutoSuggestBox" version="1.1.1" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="Rg.Plugins.Popup" version="2.0.0.13" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.SfBusyIndicator.WPF" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WPF" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Tools.WPF" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Buttons" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Buttons.WPF" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.DataSource" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfListView" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfListView.WPF" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNavigationDrawer" version="19.4.0.41" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfPopupLayout" version="19.4.0.41" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="TLIB" version="3.3.9" targetFramework="net472" />
  <package id="Xamarin.Essentials" version="1.6.0-pre2" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2291" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="5.0.0.2291" targetFramework="net472" />
</packages>